.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;*/
  padding: 10rem;
  display: grid;
  grid-template-columns: 340px 1fr;
}

.portrait {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 1rem;
}

.header {
  padding-bottom: 1rem;
}

.nameTitle {
  display: block;
  letter-spacing: 1rem;
  font-weight: 400;
  padding: 0 0 .5rem .8rem;
  line-height: 1;
}

.name {
  font-size: 8rem;
  display: block;
  line-height: 1;
}

.fukuokacity {
  position: relative;
  width: 100%;
  height: 600px;
}

.caption {
  position: relative;
  top: .5rem;
  right: 1rem;
  text-align: right;
}

.archivement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 10rem 10rem 10rem;
}

/* Mobile */
@media (max-width: 1200px) {
  .main {
    display: flex;
    padding: 4rem;
  }
  .portrait {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .main {
    padding: 1rem;
  }
  .portrait {
    margin: 1rem auto 2rem;
  }
  .name {
    font-size: 4rem;
  }
  .archivement {
    padding: 1rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
